<!DOCTYPE 'html'>
<html>
	<head>
	</head>
	<body>
		<nav>
			<li><a href="/">Home</a></li>
			<li><a href="/posts/new">Create New Post</a><p></p></li>
		</nav>
		<section>
		<table border = "1">
			<tr>
				<td>
					<h1>Post title</h1>
				</td>
				<td>
					<h1>Categories</h1>
				</td>
				<td>
					<h1>Date</h1>
				</td>
				<td>
					<h1>Action</h1>
				</td>
			</tr>
			<tr>
				<td>
					<p>Whatever</p>
				</td>
				<td>
					<p>craps!</p>
				</td>
				<td>
					<p>15 Sept 2015</p>
				</td>
				<td>
					<li><a href="/posts/1">View</a></li>
					<li><a href="/posts/1/edit">Edit</a></li>
				</td>
			</tr>
		</table>
		</section>	
		
	</body>
</html>